.App {
  text-align: center;
}

#navbar {
  position: absolute;
  background: transparent;
  /* change to sticky/fixed once user has scrolled past home page */
  width: 100%;
}

#navbar a {
  color: white;
}

#hp-background {
  background-image: url("../public/images/hp-background.jpg");
  background-size: cover;
  height: 100vh;
}

.hp-content-wrapper {
  text-align: center;
  color: white;
  position: relative;
  top: 18rem;
}