.App {
  text-align: center;
}

#navbar {
  position: absolute;
  background: transparent;
  /* change to sticky/fixed once user has scrolled past home page */
  width: 100%;
  z-index: 100;
}

#navbar a {
  color: white;
}

.overlay-container {
  position: relative;
  height: 100vh;
  background-image: url("../public/images/hp-background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.overlay-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hp-content-wrapper {
  text-align: center;
  color: white;
  position: relative;
  top: 18rem;
}

.bio-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.bio-photo img {
  width: 100%;
  max-width: 15rem;
  margin-left: 2rem;
  border-radius: 5px;
  width: 100%;
  max-width: 15rem;
}

/* .teaching-row {
  display: flex;
  justify-content: space-between;
  margin: -10px;
} */

.teaching-card {
  flex: 0 0 calc(33.33% - 20px);
  box-sizing: border-box;
  position: relative;
  /* overflow: hidden; */
  margin: 10px;
}

.teaching-img-container {
  position: relative;
  height: 0;
  padding-top: 100%;
}

.teaching-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.teaching-card p {
  margin-top: 10px;
}

@media (min-width: 520px) {
  .bio {
    text-align: left;
  }

  .bio h1 {
    text-align: center;
  }

  .bio-photo {
    float: right;
  }
  
  .bio-photo img {
    margin-left: 2rem;
  }
}