.App {
  text-align: center;
  box-sizing: border-box;
}

button {
  background-color: gray !important;
  color: white !important;
  border: 1px solid gray !important;
}

#navbar {
  position: absolute;
  background: transparent;
  /* change to sticky/fixed once user has scrolled past home page */
  width: 100%;
  z-index: 100;
}

#navbar a {
  color: white;
}

.overlay-container {
  position: relative;
  height: 100vh;
  background-image: url("../public/images/hp-background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.overlay-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hp-content-wrapper {
  text-align: center;
  color: white;
  position: relative;
  top: 18rem;
}

.bio-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.bio-photo img {
  width: 100%;
  max-width: 15rem;
  margin-left: 2rem;
  border-radius: 5px;
  width: 100%;
  max-width: 15rem;
}

.teaching-row {
  display: flex;
  justify-content: space-between;
}

.teaching-card {
  /* display: flex;
  flex-direction: column;
  align-items: stretch; */
}

.teaching-img-container {
  height: 22rem;
  max-width: 20rem;
  overflow: hidden;
  margin: 2rem auto 1rem auto;
}

.teaching-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.teaching-card p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.videos-subtitle {
  background-color: white;
  padding: 5px 0;
}

.video-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 30rem;
}

.thumbnail:nth-of-type(3) {
  margin-bottom: 0;
}

@media (min-width: 520px) {
  .bio {
    text-align: left;
  }

  .bio h1 {
    text-align: center;
  }

  .bio-photo {
    float: right;
  }
  
  .bio-photo img {
    margin-left: 2rem;
  }
}

@media (min-width: 850px) {
  .video-col {
    flex-direction: row;
    justify-content: space-between;
  }

  .thumbnail {
    width: 32%;
    max-width: none;
    margin-bottom: 0;
  }

  .sample-videos {
    background-color: black;
  }
}